<!-- wp:template-part {"slug":"header","tagName":"header","className":"tm-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"tm-main tm-standard","layout":{"type":"constrained"}} -->
<main class="wp-block-group tm-main tm-standard"><!-- wp:query {"queryId":1,"query":{"inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>Nothing here yet.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"tm-site-footer"} /-->
